body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3,6em; 
    margin-bottom: 20px;
}

button {
    padding: 15px 30px; 
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(232, 168, 49);
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; 
}